*, html {
    margin: 0;
    /* background-color: rgb(49, 49, 49); */
}

body {
    display: grid;
    height: 100vh;
    grid-template: 10% 20% 70% 90% 120% 10% / repeat(3, 1fr);
    /* grid-gap: 10px; */
}

.navbar {
    background-color: rgb(29, 29, 29);
    color: whitesmoke;
    width: 100%;
    grid-column: 1 / span 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

h2 {
    margin-left: 10px;
}

ul {
    list-style-type: none;
    display:flex;
}

li {
    margin: 0 10px;
}

.side-video {
    /* background: url("https://64.media.tumblr.com/40481948e7dc56fbe41bd71f29a11e5b/tumblr_oz757uefGs1whyvqho1_1280.jpg") no-repeat center center fixed;
    background-size: cover; */
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    overflow: hidden;
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 45%;
    
}

.video-banner {
    color: white;
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.video-banner h1 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 1em;
    font-size: 5em;
    font-style: italic;


}

.banner {
    background-color: rgb(223, 60, 60);
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h2 {
    font-size: 3.5em;
}

section {
    background-color: cadetblue;
    grid-column: 2 / span 2;
    grid-row: 3 / span 1;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.techstack-flex {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

img {
    width: 150px;
    height: 150px;
}

.weatherContent{
    background-color: rgb(253, 250, 209);
    grid-column: 1 / span 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.weatherContent .title{
    position: relative;
    margin: 10px;
    /* bottom: 180px; */
    font-family: Montserrat;
    font-size: 3em;
    line-height: 0.78;
    /* text-align: left; */
    color: #4a4a4a;
}

.weatherContent .cityForm{
    position: relative;
    margin: 10px;
    /* bottom: 180px; */
}

.weatherContent .container .sectiontitle h2{
    position: relative;
    margin: 20px;
}

#city{
    width: 300px;
    height:  30px;
    border: #ffffff 2.5px solid;
    font-family: Source Sans Pro;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.4px;
    text-align: left;
}

#button{
    width: 150px;
    height: 40px;
    background-color: cadetblue;
    border: none;
    border-radius: 2px;
    font-size: 1.5em;
    font-family: Source Sans Pro;
    font-weight: 600;
    line-height: 0.94;
    letter-spacing: 0.5px;
    text-align: center;
}

.container {
    visibility: hidden;
}

.destination h2{
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0.9px;
    color: #ff814f;
}

.sectiontitle h2 {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 3.4px;
    text-align: left;
    color: #4a4a4a;
}

#weather{
    background-color: ghostwhite;
    width: 200px;
    height: 260px;
    padding: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}

#weather .weather{
    margin: 0 auto;
}

main {
    background-color: rgb(29, 29, 29);
    color:white;
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: rgb(253, 250, 209) 1px solid;
}

.resume li{
    margin: 5px;
}

main ul, li{
    display: list-item;
    /* list-style-type: circle; */
}

main h1{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 25px;
}

.bullet {
    /* background-color: red; */
    margin: 15px;
}

.bullet li {
    list-style-type: circle;
}

.cyan{
    color: cadetblue;
}

.softYellow{
    color: rgb(253, 250, 209);
}

footer {
    background-color: rgb(255, 255, 255);
    grid-column: 1 / span 3;
}

footer img{
    width: 100px;
    height: 100px;
}

.contact-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}